.product-metadata__container {
  margin: 0rem 1rem 3rem 1rem;
  padding-bottom: 1rem;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ffcc21;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #ffcc21;
  }
}

.product-metadata__button-primary {
  margin-right: 1rem;
  opacity: 1;
}

.product-metadata__button-secondary {
  margin-right: 1rem;
  opacity: 0.3;
}

.product-metadata__up-icon {
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
}
